.container {
    position: fixed;
    width: 40%;
    height: 60px;
    background: linear-gradient(180deg, rgb(149, 125, 205,0.5) 0% , rgb(82, 61, 127, 0.5) 100%);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Itim", cursive;
  }
  
  .top {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
  }
